<div class="card">
    <div class="row">
      <div class="col-md-6">
        <div class="img-box"></div>
      </div>

      <div class="col-md-6">
          <h2 style="font-weight: 700;">Mobile</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, rem harum. Harum culpa voluptates repudiandae corporis repellat rerum illo veritatis. Tempore voluptates, sunt odio accusamus temporibus dolor officia cum excepturi.
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, rem harum. Harum culpa voluptates repudiandae corporis repellat rerum illo veritatis. Tempore voluptates, sunt odio accusamus temporibus dolor officia cum excepturi.
          </p>
      </div>
  </div>
  </div>

