<div class="container-fluid">
  <div class="page-title"><h3 class="text-center">Dashboard</h3></div>
  <div class="row">
    <div class="col-md-6" >
      <app-card>Laptop
        <a routerLink='/planning/laptop' class="btn btn-success">Know More</a>
      </app-card>
    </div>
    <div class="col-md-6">
      <app-card>Mobile
        <a routerLink='/planning/mobile' class="btn btn-success">Know More</a>
      </app-card>
    </div>
  </div>
  <div class="row">
      <div class="col-md-6" >
        <app-card>Calculator
            <a routerLink='/planning/calculator' class="btn btn-success">Know More</a>
        </app-card>
      </div>
      <div class="col-md-6">
        <app-card>Camera
          <a routerLink='/planning/camera' class="btn btn-success">Know More</a>
        </app-card>
      </div>
    </div>

    <div class="row">

      <div class="svg" style="width: 100%;">

        <svg xmlns="http://www.w3.org/2000/svg" id="Layer_2" data-name="Layer 2" viewBox="0 0 477.5 237" class="mysvg">
          <defs>
            <style>
              .cls-1 {
                fill: none;
              }

              .cls-1, .cls-2 {
                stroke: #000;
                stroke-miterlimit: 10;
                stroke-width: 20px;
              }
            </style>
          </defs>
          <title>authorized-black-filled</title>
          <line class="cls-1" y1="10" x2="477" y2="10"/>
          <line class="cls-1" x1="0.5" y1="227" x2="477.5" y2="227"/>
          <rect class="cls-2" x="45" y="63" width="396.5" height="114.5"/>
        </svg>

      </div>
      
    </div>
</div>
